@model WebApplication2.Models.ApplicationUser
@{
    ViewData["Title"] = "getall";
}


<div class="table-bordered padding">

   
    <div><img style="width:7%" src="~/images/images.png"/>  @Html.DisplayFor(p => p.UserName)</div>
    <div><img style="width:7%" src="~/images/images.png"/>  @Html.DisplayFor(p => p.Id)</div>

    <br />
    <div> <img style="width:7%" src="~/images/download.png"/>  @Html.DisplayFor(p => p.Gender)</div>
    <br />

    <div> <img style="width:7%" src="~/images/download (2).png"/>  @Html.DisplayFor(p => p.PhoneNumber)</div>
    <br />

    <div><img style="width:7%" src="~/images/download (1).png"/>  @Html.DisplayFor(p => p.City), @Html.DisplayFor(p => p.Country)</div>
    <br />

    
</div>
<div>
    <a asp-action="Edit" asp-route-id="Id" data-ajax="true" class="btn btn-info form-control"style="font-weight:bold" data-ajax-method="Get" data-ajax-update="#EditData" data-ajax-mode="replace" data-ajax-success="fun2()">Edit info</a> 
</div>


