@model IEnumerable<WebApplication2.Models.Post>
@inject UserHomeService userHomeService

<div class="container">
    @foreach (var item in Model)
    {

        <div  style="width:600px;background-color: #fff ;border-radius:5px">
            <a asp-action="" asp-route-id="">
                <img src="~/images/cover.jpg" class="img-circle">
                @item.User.UserName

            </a>

            <div style="float:right">
            <a asp-action="" asp-route-commentid="" class="btn btn-success">Edit</a>
            <a asp-action="DeletePost" asp-route-postid=@item.ID data-ajax="true" data-ajax-method="get" data-ajax-update="#AllData" class="btn btn-danger">Delete</a>
            </div>

                <br>
                <br>
            <div style="height:50px ;width:400px">
                @Html.DisplayFor(modelItem => item.Content)
            </div>

            <a asp-action="GetAllLikes" asp-route-postId=@item.ID data-ajax="true" data-ajax-method="get" data-toggle="modal" data-target="#Createmodal" data-ajax-update="#EditData" data-ajax-mode="replace"> @userHomeService.LikesCount(item.ID)</a>

            <br>
            <a class="btn btn-primary" asp-action="IncrementLikes" asp-route-postId=@item.ID asp-route-userid=@item.User.Id data-ajax="true" data-ajax-method="post" data-ajax-update="#AllData">Like</a>
            <br>
            <form asp-action="AddComment" asp-route-postId=@item.ID asp-route-userid=@item.User.Id data-ajax="true" data-ajax-method="post" data-ajax-update="#AllData">
                <input type="text" placeholder="enter your comment" style="width:300px;height:50px;border-radius:3px" name="content">
                <input type="submit" value="Comment" class="btn btn-primary">

            </form>
            @foreach (var item2 in item.Comments)
            {
                @if (!item2.Deleted)
                {
                    <br>
                    <a asp-action="" asp-route-id="">
                        <img src="~/images/cover.jpg" width="50" height="50" class="img-circle">
                        @item.User.UserName

                    </a>
                    <a asp-action="" asp-route-commentid="" class="btn btn-success">Edit</a>
                    <a asp-action="DeleteComment" asp-route-commentid=@item.ID data-ajax="true" data-ajax-method="get" data-ajax-update="#AllData" class="btn btn-danger">Delete</a>
                    <br />
                    <div style="height:50px ;width:400px">
                        @Html.DisplayFor(modelItem => item2.Content)
                    </div>
                }
            }

            <hr>
        </div>
    }
</div>




