@model IEnumerable<WebApplication2.Models.Post>
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc;
@inject UserHomeService userHomeService
@inject UserManager<ApplicationUser> UserManager

<div class="container">
    @foreach (var item in Model)
    {

        <div style="width:450px;background-color: #fff ;border-radius:20px">
            <a asp-controller="UserHome" asp-action="" asp-route-id="">
                <img src=@item.User.ImagePath class="img-circle">
                @item.User.UserName

            </a>

            <div style="float:right">
                @if (item.UserID == ViewBag.CurrentUserID)
                {
                    <a style="float:right ;font-weight:bold" asp-controller="UserHome" asp-action="EditPost" asp-route-postId=@item.ID data-ajax="true" data-ajax-method="get" data-ajax-update="#EditData" data-ajax-mode="replace" class="bg-success" data-ajax-success="successEdit()">Edit</a>
                    <a style="float:right ;font-weight:bold" asp-controller="UserHome" asp-action="DeletePost" asp-route-postid=@item.ID data-ajax="true" data-ajax-method="get" data-ajax-update="#AllData" class="bg-danger">Delete</a>
                }
            </div>

            <br>
            <br>
            <div style="height:20px ;width:400px">
                @Html.DisplayFor(modelItem => item.Content)
            </div>

            <a asp-controller="UserHome" asp-action="GetAllLikes" asp-route-postId=@item.ID data-ajax="true" data-ajax-method="get" data-ajax-success="openModalLikes()" data-ajax-update="#CreateData" data-ajax-mode="replace"> @userHomeService.LikesCount(item.ID)</a>

            <br>
            <a class="btn btn-primary" asp-controller="UserHome" asp-action="IncrementLikes" asp-route-postId=@item.ID asp-route-userid=@ViewBag.CurrentUserID data-ajax="true" data-ajax-method="post" data-ajax-update="#AllData">Like</a>
            <br>
            <form asp-controller="UserHome" asp-action="AddComment" asp-route-postId=@item.ID asp-route-userid=@ViewBag.CurrentUserID data-ajax="true" data-ajax-method="post" data-ajax-update="#AllData">
                <input type="text" placeholder="enter your comment" style="width:300px;height:50px;border-radius:3px" name="content">
                <input type="submit" value="Comment" class="btn btn-primary">

            </form>
            <br>
            <table class=" table table-condensed table-hover" style="width:400px;height:5px">


                @foreach (var item2 in item.Comments)
                {
                    @if (!item2.Deleted)
                    {
                        <tr>
                            <td>

                                <br>
                                <a asp-controller="UserHome" asp-action="" asp-route-id="">
                                    <img src=@item.User.ImagePath width="50" height="50" class="img-circle">
                                    @item2.User.UserName

                                </a>
                                <br />
                                 <div style="border:2px unset; border-right:15px">
                                <div class="img-thumbnail" style="z-index:99999">
                            @Html.DisplayFor(modelItem => item2.Content)
                                    </div>
                             </div>
                                @if (item2.User.Id == ViewBag.CurrentUserID)
                                {
                                    <a style="font-weight:bold" asp-controller="UserHome" asp-action="EditComment" asp-route-commentid=@item2.ID asp-route-userid=@item2.User.Id data-ajax="true" data-ajax-method="get" data-ajax-update="#EditData" data-ajax-mode="replace" class="bg-success" data-ajax-success="successEdit()">Edit</a>
                                    <a style="font-weight:bold" asp-controller="UserHome" asp-action="DeleteComment" asp-route-commentid=@item2.ID asp-route-userid=@item2.User.Id data-ajax="true" data-ajax-method="get" data-ajax-update="#AllData" class="bg-danger">Delete</a>
                                }
                                <td>
                            </tr>
                    }
                }
            </table>

        </div>
        <br>
       
    }
</div>




