@model IEnumerable<WebApplication2.Models.ApplicationUser>
<table class="table table-hover table-striped table-bordered table-responsive" style="background-color:lightsteelblue">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.City)
            </th>

            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th style="text-align:center">
                Roles
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Blocked)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
   
            <td>
                <div class="col-md-10">
                    <form asp-action="UpdatePost" data-ajax="true" data-ajax-method="Post" data-ajax-update="#MyGetAll">
                        @*<select>
                            @foreach(var item in )


                        </select>*@
                        </form>
                </div>
            </td>
            <td style="text-align:center">
                <a  asp-action="blockUser" asp-route-userID="@item.Id" data-ajax="true" data-ajax-method="post" data-ajax-update="#AllData" name="userID"><input type="checkbox" checked=@item.Blocked ></a> 

            </td>
            <td>
                <a asp-action="Delete" asp-route-userID="@item.Id" data-ajax="true" data-ajax-method="post" data-ajax-update="#AllData" class="btn btn-danger">Delete</a> 
            </td>
        </tr>
}
   

