@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LoginLayout";
}



<div id="cont" class="container">
    <div class="row">
        <img id="img"src="~/images/bg-01.jpg" />
    </div>

    <div class="row">
        <div class="col-xs-6">
            <section>
                <form method="post">
                 @*   <h4 id="b">Use a local account to log in.</h4>*@
              
                    <div  asp-validation-summary="All" class="text-danger">   <br /></div>
                 
                    <div class=" form-group m">
                        <label class="col-xs-4" asp-for="Input.Email"></label>
                        <input class="col-xs-8 in " asp-for="Input.Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <br />
                    </div>

                    <div class="m form-group">
                        <label class="col-xs-4" asp-for="Input.Password"></label>
                        <input class="col-xs-8 in" asp-for="Input.Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="form-group x">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group x">
                        <button type="submit" id="b" class="btn btn-success">Log in</button>
                    </div>
                    <div class="form-group x">
                        <p>
                            <a asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>

                </form>
            </section>
        </div>
        <div class="col-xs-4 col-md-offset-2">
            <section>

                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <img  src="~/images/1.PNG" />
                            </div>
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn-link " name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Sign up with @provider.DisplayName</button>

                                    }
                                </p>
                            </div>

                        </form>
                    }
                }
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
